/* ======================================================= 오른쪽 상단 텍스트 */
aside .round_txt_wrap {animation: rotate360 30s linear infinite;}

/* ======================================================= 원형 로딩 개별 */
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_uiux .icon svg circle.circle {animation: circle80 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_figma .icon svg circle.circle {animation: circle80 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_ps .icon svg circle.circle {animation: circle30 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_ai .icon svg circle.circle {animation: circle30 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_html .icon svg circle.circle {animation: circle80 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_css .icon svg circle.circle {animation: circle80 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_js .icon svg circle.circle {animation: circle50 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil_jquery .icon svg circle.circle {animation: circle30 2s 0.5s ease both;}
main .m_swiper .swiper-wrapper #profile .slide_container .abil_contents .abil_wrap .abil .icon svg circle.circle {animation-play-state:paused;} /* 일시정지 상태 설정 */

/* ======================================================= 애니메이션 */
@keyframes rotate360 {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

 /* 'circle' 애니메이션 정의 */
@keyframes circle80 {
    0% {stroke-dashoffset: 360;}
    100% {stroke-dashoffset: 72;}
}

@keyframes circle50 {
    0% {stroke-dashoffset: 360;}
    100% {stroke-dashoffset: 180;}
}

@keyframes circle30 {
    0% {stroke-dashoffset: 360;}
    100% {stroke-dashoffset: 252;}
}
